a{
text-decoration: none;
}
body{
    text-align: center;
    margin: 0%;
    height: 70%;
    width: 100%;
}
header{
    height: 100px;
    width: 100%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    border-bottom: #9fc4ec solid 5px;
}
.mainimg{
    display: inline;
}
.map img{
    height: 200px;
    width: 250px;
    margin-top: 20px;
}
.wellcome{
    display: flex;
    justify-content: space-between;
    font-family: 'Dokdo', cursive;
    font-size: 36px;
    position: relative;
    backdrop-filter: 5px;
    text-transform: uppercase;
}
.mainli li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 10px;
    color: white;
    font-family: 'Dokdo', cursive;

}
footer{
    height: 5%;
    width: 100%;
    text-align: center;
    font-weight: 600;
    background-color: #c1ddfa;
    opacity: 0.5;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.copy p{
    font-size: 20px;
    }
.copy img{
    height: 80px;
    width: 80px;
    }
p{
    align-self: center;
    color: #0a423f;
}
.gallary{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
span{
    color:#0a423f;
    font-weight: 900;
    font-size: 30px;
}

nav{
    margin-top: 25px;
    margin-right: 30px;
}
.history img{
    height: 150px;
    width: 200px;
}
.fact{
    align-self: center;
}
.history{
    display: flex;
    flex-direction: column ;
}
.visit img{
    height: 150px;
    width: 200px;
}
.placenear img{
    height: 150px;
    width: 200px;
}
.contact img{
    height: 100px;
    width: 100px;
}
.mainpage {
    height: 70%;
    width: 100%;
    background-image: url("../img/mainhail1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;}
.mainlogo img{
    height: 300px;
    width: 300px;
}
.mainlogo{
    height: 350px;
    width: 400px;
    background-color: #9fc4ec;
    opacity: 0.7;
    border-radius: 90px;
}
.logo img{
    height: 130px;
    width: 130px;
    margin-left: 30px;
}
.placenear{
    display: flex;
    flex-direction:column; 
}
.placenear img{
    display: inline;
}
.enjoy{
    align-items: center;
    justify-content: space-between;
    display: inline-block;
}
.enjoy p{
    text-transform: uppercase;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;

}
#places-to-visit{
    background-image: url("../img/alsmra.jpg");
    height: 250px;
    width: 250px;
    background-size: cover;
    text-align: center;
    color: white;
}
#history{
    background-image: url("../img/jubah.jpg");
    height: 250px;
    width: 250px;
    background-size: cover;
    text-align: center;
    color: white;
}
#places-near-by2{
    background-image:url("../img/alola.jpg");
    height: 250px;
    width: 250px;
    background-size: cover;
    text-align: center;
    color: white;
}
 h3{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #0a423f;
}
.historyfacts img{
    height: 250px;
    width: 350px;
}
.gallery1, .gallery-img {
  height: 550px;
  width: 100%;
}


.gallery-img-1 {
  background: url(../img/Hail6.jpg) center center;
  background-size: cover;
}
.gallery-img-2 {
  background: url(../img/Hailmain.jpg) center center;
  background-size: cover;
}
.gallery-img-3 {
  background: url(../img/mainhail1.jpg) center center;
  background-size: cover;
}
.gallery-img-4 {
    background: url(../img/hail1.jpg) center center;
    background-size: cover;
}
.gallery-img-6 {
    background: url(../img/hail5.jpg) center center;
    background-size: cover;
}
.gallery-img-7 {
    background: url(../img/hail8.jpg) center center;
    background-size: cover;
}
.gallery-img-8 {
    background: url(../img/hail9.jpg) center center;
    background-size: cover;
}
.gallery-img-9 {
    background: url(../img/hailrain.jpg) center center;
    background-size: cover;
}
.gallery-img-10 {
    background: url(../img/hailmou.jpg) center center;
    background-size: cover;
}
.gallery-img-11 {
    background: url(../img/hail12.jpg) center center;
    background-size: cover;
}
.gallery-img-12 {
    background: url(../img/hail13.jpg) center center;
    background-size: cover;
}
.gallery-img-13 {
    background: url(../img/hail14.jpg) center center;
    background-size: cover;
}
.gallery-img-14 {
    background: url(../img/hail15.jpg) center center;
    background-size: cover;
}
.gallery-img-15 {
    background: url(../img/hail16.jpg) center center;
    background-size: cover;
}
.places-info.show {
    width: 600px;
  }
  .city-img {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 50%;
  }
  .places-near-by1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .place-near-info {
    max-height: 400px;
    width: 0px;
    overflow: hidden;
    transition: width 2s;
  }
  
  .place-near-info.show {
    width: 600px;
  }
  
  .more-info {
    background-color: rgba(0,0,0,.4);
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .city-img:hover .more-info {
    opacity: 1;
  }
  #aljouf-img {
    background-image: url("../img/joufbg.jpg");
  }
  #alolaa-img {
    background-image: url("../img/alola4.jpg");
  }
  #Umluj-img{
    background-image: url("../img/umluj.jpg");
 
  }
  .places-near-by1 li{
    list-style: none;
  }
  h2{
      font-weight: 800;
      color: #9fc4ec;
      text-transform: uppercase;
      font-family: 'Dokdo', cursive;
  }
  /* .mainfacts{
display: flex;
  } */
.gallary p{
 size: 40px;
 font-family: 'Pacifico', cursive;
  }
  .visit img{
    transition-property: width;
    transition-duration: 2s;
  }
  
    text-decoration: none;
    cursor: pointer;
  }