body{
    height: 70%;
    width: 100%;
    background-image: url("../img/mainhail1.jpg");
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 15%;
}
header{
    height: 50px;
    width: 400px;
    background-color: #6f91b5;
    opacity: 0.7;
    border-radius: 10px;
  
}

li{
    color: #gray;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 0.5%;
    /* position: relative;
    left: 20%; */
    
}
main{
    height: 350px;
    width: 450px;
    background-color: #6f91b5;
    border-radius: 10px;

    opacity: 0.7;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    width: 500;   
}

footer{
    height: 5%;
    width: 90%;
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: #6f91b5;
    opacity: 0.5;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: center;
}
.copy{
    position: relative;
    left:200px;
    bottom:20px;
    }